.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:500px;
}

.profile-image {
  margin-bottom: 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profile-details {
  font-family: Arial, sans-serif;
}

.profile-heading {
  margin-top: 0;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.profile p {
  margin-bottom: 10px;
}