// Cart.scss
.cart {
  position: fixed;
  top: 0;
  right: 0%;
  width: 520px;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(0%);
  padding: 20px;

  &.open {
    transform: translateX(-100%);
  }
    &.show {
      right: 10px;
    }
    
    &__items {
  
    }
  
    &__total {
      display: flex;
      justify-content: space-between;
      font-weight: bold;    
    }
  
    &__checkout-btn {
      background: black;
      color: white;
      padding: 10px 15px;
    } 
  }
  /* CartCompact.scss */

.cart {
  border: 1px solid #ddd;
  padding: 20px;
}

.cart h3 {
  text-align: center;
  margin-bottom: 20px; 
}

.cart__items {
  /* CSS items */
}

.cart__total {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.cart__total p {
  font-weight: bold;
}

.cart__checkout-btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}