.bn {
    padding: 0;
    margin: 0;
}
.bander {
    margin: 2px;
    border-radius: 5px !important;
}
.banner-big {
    background-image:url('https://qph.cf2.poecdn.net/main-faa00764-9814-4579-9d5f-31eb57a4dbee.png?w=1024&h=1024') ;
    height: 600px;
    background-size: cover;
}
.banner-small:nth-child(1){
        background-image:url('https://qph.cf2.poecdn.net/main-aaf8321e-d4f3-4687-9733-8c7f682c90f8.png?w=1024&h=1024') ;
    height: 300px;
    background-size: cover;

}
.banner-small:nth-child(2){
        background-image:url('https://qph.cf2.poecdn.net/main-3908b27e-4b83-4397-bf0c-8e599d5ea5ac.png?w=1024&h=1024') ;
    height: 300px;
    background-size: cover;

}