@import '.././Style.scss';
.bannar {
    margin-top: 100px;
}
.bannar__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.bannar__items {
    height: 536px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.bannar__items-first {
    @include bannar-items-bg;
    background-image: url(../../../public/assets/image/bannar__img-1.jpg);
}
.bannar__items-seconds {
    @include bannar-items-bg;
    background-image: url(../../../public/assets/image/bannar__img-2.jpg);
   
}
.bannar__items-thirds {
    @include bannar-items-bg;
    background-image: url(../../../public/assets/image/bannar__img-3.jpg);
   
}
.bannar__items-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.bannar__sub-first {
    @include bannar-sub-text;
    color: #fff;
}
.bannar__sub-seconds {
    @include bannar-sub-text;
    color: #fff;
}
.bannar__sub-thirds {
    @include bannar-sub-text;
    color: #fff;
}
.bannar__items-title {
    @include bannar-title-text;
    margin-top: 16px;
    color: #fff;
}
.bannar__timer-gr {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}
.bannar__time {
    display: block;
    // width: 156px;
    width: auto;
    margin-top: 11px;
    // text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    color: #fff;
    
}

.bannar__sale-seconds {
    @include bannar-sale-text;
    margin-top: 12px;
    color: #fff;
}
.bannar__sale-outstanding-seconds {
    @include bannar-sale-outstanding-text;
    margin-left: 4px;
    color: #000;
}
.bannar__sale-thirds {
    @include bannar-sale-text;
    margin-top: 8px;
    color: #fff;
}
.bannar__sale-outstanding-thirds {
    @include bannar-sale-outstanding-text;
    padding: 4px 10px;
    background-color: #000;
    border-radius: 5px;
    margin-left: 12px;
    color: #FF8A00;
}
.bannar__button {
    @include bannar-button;
    margin-top: 30px;
    // margin-bottom: auto;
}