
.girds{
    padding: 50px 0;
.gird {
    width: 424px;
    height:536px;
    border-radius: 5px;
    background-size: cover;
    .btn-gird {
        position: relative;
        border-radius: 30px;
        width: 170px;
        height: 65px;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-60%);
        font-size: 1.5rem;
        font-weight: 600;
    }
    .btn-gird:hover{
        color:rgb(19, 232, 19);
        background-color: rgb(255, 255, 255);
    }
    &:nth-child(1){
        background-image:url('../../assets/image/gird1.jpg') ;
    }
    &:nth-child(2){
        background-image:url('../../assets/image/gird3.jpg') ;
    }
    &:nth-child(3){
        background-image:url('../../assets/image/gird2.1.jpg')  ;
    }
    
}}