// Top Header
.language-container {
  position: relative;
  display: inline-block;
}

.current-language {
  position: relative;

  &:hover {
    &:after {
      content: "English";
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 10px;
    display: none;
  }

  .language-container:hover &::after {
    display: block;
  }
}

.language-option {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}
a {
    text-decoration: none;
    color: white;
}

.header {
  position: fixed;
  z-index: 999;
  top:0%;
  left: 50%;
  transform: translate(-50%,0);
}