// ============ Color ================
$header-top-color: #666;
$font-primary: 'Poppins', sans-serif;
$primary-color: #00B207;
$color-title: #0000;
$warning-color: #FF8A00;
$color-items: #4D4D4D;
$line-clamp: 2;
$line-clamp-cart: 1;
*,
::before,
::after {
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: $font-primary;
    font-size: 1.6rem;
    // background-color: #F4F4F4;
}

// Commons

.container {
  width: 1320px;
  max-width: calc(100% - 45px);
  margin-right: auto;
  margin-left: auto;
}
@mixin limited-text {
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@mixin limited-text-cart {
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp-cart;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@mixin button-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #E6E6E6;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: #00B207;
      border: #00B207;
      color: #fff;
    }
}
@mixin bannar-sub-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@mixin bannar-title-text {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}
@mixin bannar-sale-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  // letter-spacing: 0.04rem;
  // text-transform: uppercase;
}
@mixin bannar-sale-outstanding-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  // letter-spacing: 0.04rem;
  // text-transform: uppercase;
}
@mixin bannar-button {
  display: block;
  gap: 12px;
  // padding: 14px 32px;
  min-width: 162px;
  height: 45px;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 45px;
  color: #00B207;
  border-radius: 999px;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: #00B207;
    color: #fff;
  }
}
@mixin bannar-items-bg {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
  &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.3;
  }
}
@mixin footer-desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #808080;
}